In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
viirs = pd.read_csv("fire_nrt_V1_83401.csv")
# modis = pd.read_csv("fire_nrt_M6_83400.csv")

In [4]:
viirs.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [5]:
# modis.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,34.010,-86.113,302.5,4.7,2.0,2019-10-01,300,Terra,MODIS,49,6.0NRT,292.1,39.1,N
1,33.011,-79.885,319.8,2.0,1.4,2019-10-01,300,Terra,MODIS,99,6.0NRT,290.9,46.1,N
2,41.464,-81.681,302.6,1.6,1.3,2019-10-01,300,Terra,MODIS,50,6.0NRT,292.5,8.0,N
3,32.156,-101.937,301.3,1.4,1.2,2019-10-01,435,Terra,MODIS,40,6.0NRT,290.3,5.8,N
4,31.937,-103.538,301.1,1.8,1.3,2019-10-01,435,Terra,MODIS,38,6.0NRT,288.8,9.1,N

In [6]:
# modis = modis.rename(columns = {"bright_t31": "channel_brightness"})
# viirs = viirs.rename(columns = {"bright_ti5": "channel_brightness"})

In [7]:
# viirs = viirs.rename(columns = {"bright_ti4": "brightness"})

In [8]:
# firedata = pd.concat([viirs, modis])

In [9]:
# firedata.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,channel_brightness,frp,daynight
0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [10]:
# firedata = firedata.reset_index()

In [11]:
# firedata.head()

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,channel_brightness,frp,daynight
0,0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [12]:
# firedata = firedata.drop(columns = "index")

In [13]:
# firedata.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,channel_brightness,frp,daynight
0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [14]:
# type(firedata['acq_date'][1])

str

In [20]:
viirs['acq_date'] = viirs['acq_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [21]:
viirs.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,channel_brightness,frp,daynight
0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [22]:
len(viirs)

239299

In [23]:
len(viirs.groupby(['latitude']))

208360

In [24]:
len(viirs.groupby(['longitude']))

217639