In [85]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import datetime as dt
from datetime import timedelta
from darksky import forecast
key = "e202a3b89ed3182ce3d86552661df096" #darksky key
from sklearn.linear_model import LogisticRegression

In [18]:
# US fires data - has the cause of fire
# https://www.fs.usda.gov/rds/archive/catalog/RDS-2013-0009.4
# Metadata - https://www.fs.usda.gov/rds/archive/products/RDS-2013-0009.4/_metadata_RDS-2013-0009.4.html
us_fires1 = pd.read_csv("us_fires_1.csv")
us_fires2 = pd.read_csv("us_fires_2.csv")
us_fires3 = pd.read_csv("us_fires_3.csv")
us_fires4 = pd.read_csv("us_fires_4.csv")
us_fires5 = pd.read_csv("us_fires_5.csv")
us_fires6 = pd.read_csv("us_fires_6.csv")
us_fires7 = pd.read_csv("us_fires_7.csv")

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11,12,16,17,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10,11,12,13,14,15,18,25,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11,12,14,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# Concatenate all us_fires data
pd.set_option('display.max_columns', None)
us_fires_all = pd.concat([us_fires1, us_fires2], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires3], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires4], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires5], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires6], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires7], ignore_index=True)

,objectid,fod_id,fpa_id,source_system_type,source_system,nwcg_reporting_agency,nwcg_reporting_unit_id,nwcg_reporting_unit_name,source_reporting_unit,source_reporting_unit_name,local_fire_report_id,local_incident_id,fire_code,fire_name,ics_209_incident_number,ics_209_name,mtbs_id,mtbs_fire_name,complex_name,fire_year,discovery_date,discovery_doy,discovery_time,stat_cause_code,stat_cause_descr,cont_date,cont_doy,cont_time,fire_size,fire_size_class,latitude,longitude,owner_code,owner_descr,state,county,fips_code,fips_name
0,1,1.0,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,511,Plumas National Forest,1,PNF-47,BJ8K,FOUNTAIN,NaN,NaN,NaN,NaN,NaN,2005,2005-02-02T00:00:00,33,1300.0,9,Miscellaneous,2005-02-02T00:00:00,33.0,1730.0,0.10,A,40.036944,-121.005833,5,USFS,CA,63,63.0,Plumas
1,2,2.0,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,13,13,AAC0,PIGEON,NaN,NaN,NaN,NaN,NaN,2004,2004-05-12T00:00:00,133,845.0,1,Lightning,2004-05-12T00:00:00,133.0,1530.0,0.25,A,38.933056,-120.404444,5,USFS,CA,61,61.0,Placer
2,3,3.0,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,27,021,A32W,SLACK,NaN,NaN,NaN,NaN,NaN,2004,2004-05-31T00:00:00,152,1921.0,5,Debris Burning,2004-05-31T00:00:00,152.0,2024.0,0.10,A,38.984167,-120.735556,13,STATE OR PRIVATE,CA,17,17.0,El Dorado
3,4,4.0,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,43,6,NaN,DEER,NaN,NaN,NaN,NaN,NaN,2004,2004-06-28T00:00:00,180,1600.0,1,Lightning,2004-07-03T00:00:00,185.0,1400.0,0.10,A,38.559167,-119.913333,5,USFS,CA,3,3.0,Alpine
4,5,5.0,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,44,7,NaN,STEVENOT,NaN,NaN,NaN,NaN,NaN,2004,2004-06-28T00:00:00,180,1600.0,1,Lightning,2004-07-03T00:00:00,185.0,1200.0,0.10,A,38.559167,-119.933056,5,USFS,CA,3,3.0,Alpine

In [28]:
us_fires_all.head()
us_fires_all.tail()

,objectid,fod_id,fpa_id,source_system_type,source_system,nwcg_reporting_agency,nwcg_reporting_unit_id,nwcg_reporting_unit_name,source_reporting_unit,source_reporting_unit_name,local_fire_report_id,local_incident_id,fire_code,fire_name,ics_209_incident_number,ics_209_name,mtbs_id,mtbs_fire_name,complex_name,fire_year,discovery_date,discovery_doy,discovery_time,stat_cause_code,stat_cause_descr,cont_date,cont_doy,cont_time,fire_size,fire_size_class,latitude,longitude,owner_code,owner_descr,state,county,fips_code,fips_name
1880460,1880461,300348000.0,2015CAIRS29019636,NONFED,ST-CACDF,ST/C&L,USCASHU,Shasta-Trinity Unit,CASHU,Shasta-Trinity Unit,591814,009371,NaN,ODESSA 2,NaN,NaN,NaN,NaN,NaN,2015,2015-09-26T00:00:00,269,1726.0,13,Missing/Undefined,2015-09-26T00:00:00,269.0,1843.0,0.01,A,40.481637,-122.389375,13,STATE OR PRIVATE,CA,NaN,NaN,NaN
1880461,1880462,300348000.0,2015CAIRS29217935,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,569419,000366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-10-05T00:00:00,278,126.0,9,Miscellaneous,NaN,NaN,NaN,0.20,A,37.617619,-120.938570,12,MUNICIPAL/LOCAL,CA,NaN,NaN,NaN
1880462,1880463,300348000.0,2015CAIRS28364460,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,574245,000158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-05-02T00:00:00,122,2052.0,13,Missing/Undefined,NaN,NaN,NaN,0.10,A,37.617619,-120.938570,12,MUNICIPAL/LOCAL,CA,NaN,NaN,NaN
1880463,1880464,300348000.0,2015CAIRS29218079,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,570462,000380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-10-14T00:00:00,287,2309.0,13,Missing/Undefined,NaN,NaN,NaN,2.00,B,37.672235,-120.898356,12,MUNICIPAL/LOCAL,CA,NaN,NaN,NaN
1880464,1880465,300348000.0,2015CAIRS26733926,NONFED,ST-CACDF,ST/C&L,USCABDU,San Bernardino Unit,CABDU,CDF - San Bernardino Unit,535436,003225,NaN,BARKER BL BIG_BEAR_LAKE_,NaN,NaN,NaN,NaN,NaN,2015,2015-03-14T00:00:00,73,2128.0,9,Miscellaneous,NaN,NaN,NaN,0.10,A,34.263217,-116.830950,13,STATE OR PRIVATE,CA,NaN,NaN,NaN

In [27]:
len(us_fires_all)

1880465

In [43]:
train = us_fires_all[['objectid',
                      'fod_id',
                      'fpa_id',
                      'fire_year',
                      'discovery_date',
                      'discovery_doy',
                      'stat_cause_code',
                      'stat_cause_descr',
                      'fire_size',
                      'fire_size_class',
                      'latitude',
                      'longitude',
                      'state']]
train.head()

,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state
0,1,1.0,FS-1418826,2005,2005-02-02T00:00:00,33,9,Miscellaneous,0.10,A,40.036944,-121.005833,CA
1,2,2.0,FS-1418827,2004,2004-05-12T00:00:00,133,1,Lightning,0.25,A,38.933056,-120.404444,CA
2,3,3.0,FS-1418835,2004,2004-05-31T00:00:00,152,5,Debris Burning,0.10,A,38.984167,-120.735556,CA
3,4,4.0,FS-1418845,2004,2004-06-28T00:00:00,180,1,Lightning,0.10,A,38.559167,-119.913333,CA
4,5,5.0,FS-1418847,2004,2004-06-28T00:00:00,180,1,Lightning,0.10,A,38.559167,-119.933056,CA

In [44]:
train.isnull().sum()

objectid            0
fod_id              0
fpa_id              0
fire_year           0
discovery_date      0
discovery_doy       0
stat_cause_code     0
stat_cause_descr    0
fire_size           0
fire_size_class     0
latitude            0
longitude           0
state               0
dtype: int64

In [68]:
# Regex extract date
train['discovery_date'] = train['discovery_date'].str.extract(r'(\d{4}-\d{2}-\d{2})')
train.head()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state,Month,Temp,WindSpd,WindGust,Humidity,Precipitation
0,1,1.0,FS-1418826,2005,2005-02-02,33,9,Miscellaneous,0.10,A,40.036944,-121.005833,CA,0.0,0.0,0.0,0.0,0.0,0.0
1,2,2.0,FS-1418827,2004,2004-05-12,133,1,Lightning,0.25,A,38.933056,-120.404444,CA,0.0,0.0,0.0,0.0,0.0,0.0
2,3,3.0,FS-1418835,2004,2004-05-31,152,5,Debris Burning,0.10,A,38.984167,-120.735556,CA,0.0,0.0,0.0,0.0,0.0,0.0
3,4,4.0,FS-1418845,2004,2004-06-28,180,1,Lightning,0.10,A,38.559167,-119.913333,CA,0.0,0.0,0.0,0.0,0.0,0.0
4,5,5.0,FS-1418847,2004,2004-06-28,180,1,Lightning,0.10,A,38.559167,-119.933056,CA,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
# Convert to timestamp
train['discovery_date'] = train['discovery_date'].apply(lambda x: dt.strptime(x, '%Y-%m-%d'))
type(train['discovery_date'][1])
# Convert back to string
# train['discovery_date'] = train['discovery_date'].astype(str)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [86]:
# Consolidate years - overall dataset is 1992 - 2015
len(train)
train.loc[train['fire_year'].idxmax()]

objectid               1789012
fod_id               3.002e+08
fpa_id              FS-6341424
fire_year                 2015
discovery_date      2015-08-14
discovery_doy              226
stat_cause_code              1
stat_cause_descr     Lightning
fire_size                  0.1
fire_size_class              A
latitude               45.9342
longitude             -113.021
state                       MT
Month                        0
Temp                         0
WindSpd                      0
WindGust                     0
Humidity                     0
Precipitation                0
Name: 1789011, dtype: object

In [91]:
train = train[(train['discovery_date'] > '2005-01-01') & (train['discovery_date'] < '2015-08-14')]

In [ ]:
# train['Lat'] = np.zeros(len(train))
# train['Long'] = np.zeros(len(train))
train['Month'] = np.zeros(len(train))
train['Temp'] = np.zeros(len(train))
train['WindSpd'] = np.zeros(len(train))
train['WindGust'] = np.zeros(len(train))
train['Humidity'] = np.zeros(len(train))
train['Precipitation'] = np.zeros(len(train))
for i in np.arange(0,len(train)):
#     #Convert Lat/Long to 2 separate variables
#     latlong = (((train['Lat/Long'].iloc[i]).strip()).strip('][')).split(",")
#     train['Lat'].iloc[i] = float(latlong[0])
#     train['Long'].iloc[i] = float(latlong[1])
    #Add "Month" variable
#     timestamp = train['discovery_date'].iloc[i].split("/")
#     train['Month'].iloc[i] = float(timestamp[0])+(int(timestamp[1])/31)
    #Add weather variables
#     t = dt(int(timestamp[2]),int(timestamp[0]),int(timestamp[1]),12).isoformat()
    try:
        weather = forecast(key,train['Lat'].iloc[i],train['Long'].iloc[i],time=t)
        train['Temp'].iloc[i] = weather.temperature
        train['WindSpd'].iloc[i] = weather.windSpeed
        train['WindGust'].iloc[i] = weather.windGust
        train['Humidity'].iloc[i] = weather.humidity
        train['Precipitation'].iloc[i] = weather.precipIntensity
    except:
        #weather = forecast(key,round(train['Lat'].iloc[i])+1,round(train['Long'].iloc[i])+1,time=t)
        train['Temp'].iloc[i] = "BAD RESPONSE"

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
train.head()

,Date,Acres Burned,Lat/Long,Lat,Long,Month,Temp,WindSpd,WindGust,Humidity,Precipitation
0,11/16/2018,10,"[37.12857, -122.12036]",37.128570,-122.120360,11.516129,66.74,2.16,6.20,0.20,0.0
1,11/15/2018,20,"[37.81111, -121.7944]",37.811110,-121.794400,11.483871,54.46,3.36,5.48,0.28,0.0
2,11/14/2018,150,"[34.30166667, -119.09916667]",34.301667,-119.099167,11.451613,76.67,10.73,20.47,0.07,0.0
3,11/14/2018,20,"[37.61158, -121.94182]",37.611580,-121.941820,11.451613,60.56,4.24,8.06,0.20,0.0
4,11/13/2018,147,"[34.18075, -117.43184]",34.180750,-117.431840,11.419355,65.08,8.48,19.72,0.08,0.0
5,11/12/2018,10,"[40.888785, -124.001849]",40.888785,-124.001849,11.387097,59.67,3.03,9.78,0.47,0.0
6,11/12/2018,186,"[34.26734825, -118.64381589]",34.267348,-118.643816,11.387097,68.13,11.83,26.37,0.07,0.0
7,11/8/2018,"96,949","[34.235, -118.70128]",34.235000,-118.701280,11.258065,70.53,12.80,26.66,0.16,0.0
8,11/8/2018,4531,"[34.22685, -118.93444]",34.226850,-118.934440,11.258065,75.07,13.02,24.26,0.11,0.0
9,11/8/2018,1500,"[38.21396, -121.9424]",38.213960,-121.942400,11.258065,67.21,12.50,32.41,0.12,0.0
10,11/8/2018,35,"[39.62194, -123.28774]",39.621940,-123.287740,11.258065,58.09,2.79,7.14,0.24,0.0
11,11/8/2018,88,"[39.62194, -123.28774]",39.621940,-123.287740,11.258065,58.09,2.79,7.14,0.24,0.0
12,11/7/2018,153336,"[39.8134, -121.4347]",39.813400,-121.434700,11.225806,62.56,4.30,8.69,0.17,0.0
13,11/5/2018,60,"[40.346652, -122.308479]",40.346652,-122.308479,11.161290,71.91,10.19,12.98,0.19,0.0
14,11/3/2018,17,"[37.0125, -122.046]",37.012500,-122.046000,11.096774,68.71,2.77,8.05,0.25,0.0
15,10/30/2018,550,"[39.36529, -121.51707]",39.365290,-121.517070,10.967742,69.58,7.30,14.75,0.22,0.0
16,10/24/2018,120,"[36.47766, -119.10433]",36.477660,-119.104330,10.774194,73.59,3.41,6.53,0.36,0.0
17,10/19/2018,58,"[35.17693, -120.48861]",35.176930,-120.488610,10.612903,78.23,3.88,9.88,0.20,0.0
18,10/15/2018,10,"[39.93427, -121.54103]",39.934270,-121.541030,10.483871,64.22,3.53,10.31,0.09,0.0
19,10/14/2018,38,"[40.60866, -122.38366]",40.608660,-122.383660,10.451613,69.11,7.73,21.47,0.11,0.0
20,10/13/2018,12,"[40.49618, -122.51597]",40.496180,-122.515970,10.419355,78.95,8.15,11.81,0.15,0.0
21,10/13/2018,167,"[36.18401, -120.69955]",36.184010,-120.699550,10.419355,72.27,4.99,13.97,0.27,0.0
22,10/12/2018,160,"[38.45673, -121.94658]",38.456730,-121.946580,10.387097,75.74,6.98,14.25,0.21,0.0
23,10/10/2018,15,"[41.94046, -122.43933]",41.940460,-122.439330,10.322581,57.31,4.18,8.97,0.46,0.0
24,10/7/2018,63,"[37.1769444, -121.68694444]",37.176944,-121.686944,10.225806,72.57,10.31,21.37,0.24,0.0
25,10/7/2018,3889,"[40.22027778, -122.18]",40.220278,-122.180000,10.225806,70.62,15.09,18.21,0.25,0.0
26,10/2/2018,32,"[36.938674, -119.3127769]",36.938674,-119.312777,10.064516,76.17,3.83,8.80,0.60,0.0
27,10/2/2018,150,"[35.97677, -121.24898]",35.976770,-121.248980,10.064516,75.36,3.91,7.85,0.40,0.0
28,12/28/2017,80,"[38.869036, -119.61865]",38.869036,-119.618650,12.903226,50.33,1.92,4.37,0.27,0.0
29,12/21/2017,45,"[33.9885, -117.38417]",33.988500,-117.384170,12.677419,56.16,9.98,19.66,0.13,0.0
30,12/16/2017,14,"[34.71796, -120.27077]",34.717960,-120.270770,12.516129,61.44,9.00,19.61,0.39,0.0
31,12/14/2017,14,"[34.605358, -120.414875]",34.605358,-120.414875,12.451613,69.4,2.43,6.39,0.19,0.0
32,12/13/2017,19,"[33.88994, -116.91023]",33.889940,-116.910230,12.419355,73.93,4.09,7.89,0.06,0.0
33,12/7/2017,300,"[33.59257, -117.14979]",33.592570,-117.149790,12.225806,71.83,10.56,25.00,0.07,0.0
34,12/07/17,4100,"[33.3237, -117.163]",33.323700,-117.163000,12.225806,BAD RESPONSE,0.00,0.00,0.00,0.0
35,12/06/17,422,"[34.09454, -118.48178]",34.094540,-118.481780,12.193548,BAD RESPONSE,0.00,0.00,0.00,0.0
36,12/5/2017,260,"[34.16564, -117.33334]",34.165640,-117.333340,12.161290,56.48,8.58,17.56,0.13,0.0
37,12/5/2017,260,"[34.16564, -117.33334]",34.165640,-117.333340,12.161290,56.48,8.58,17.56,0.13,0.0
38,12/5/2017,34,"[34.21829, -117.40625]",34.218290,-117.406250,12.161290,54.44,8.96,19.28,0.14,0.0
39,12/05/17,6049,"[34.45283, -118.58188]",34.452830,-118.581880,12.161290,BAD RESPONSE,0.00,0.00,0.00,0.0
40,12/05/17,15619,"[34.31283, -118.35863]",34.312830,-118.358630,12.161290,BAD RESPONSE,0.00,0.00,0.00,0.0
41,12/04/17,281893,"[34.41521, -119.09124]",34.415210,-119.091240,12.129032,BAD RESPONSE,0.00,0.00,0.00,0.0
42,12/4/2017,40,"[33.96514, -117.4764]",33.965140,-117.476400,12.129032,63.74,7.48,17.77,0.14,0.0
43,11/29/2017,99,"[34.035344, -116.940661]",34.035344,-116.940661,11.935484,61.47,3.57,7.55,0.20,0.0
44,11/25/17,47,"[36.38109, -121.00391]",36.381090,-121.003910,11.806452,BAD RESPONSE,0.00,0.00,0.00,0.0
45,11/14/2017,40,"[33.90327, -116.50151]",33.903270,-116.501510,11.451613,81.15,5.06,10.39,0.15,0.0
46,11/13/2017,370,"[38.46111, -119.48284]",38.461110,-119.482840,11.419355,50.98,9.37,20.48,0.31,0.0
47,11/2/2017,43,"[39.81517, -122.28165]",39.815170,-122.281650,11.064516,62.49,4.43,11.33,0.58,0.0
48,10/31/2017,37,"[40.774, -122.309]",40.774000,-122.309000,11.000000,67.84,5.28,11.20,0.29,0.0
49,10/26/2017,194,"[40.02261, -121.91425]",40.022610,-121.914250,10.838710,79.24,2.74,6.06,0.26,0.0
50,10/26/2017,866,"[33.60247, -117.34192]",33.602470,-117.341920,10.838710,80.32,2.94,5.82,0.17,0.0
51,10/26/2017,50,"[35.21556, -118.56578]",35.215560,-118.565780,10.838710,81.56,4.15,7.81,0.17,0.0
52,10/24/2017,86,"[34.34949, -119.30918]",34.349490,-119.309180,10.774194,98.01,4.33,10.59,0.12,0.0
53,10/24/2017,40,"[34.13534, -117.4982]",34.135340,-117.498200,10.774194,91.36,8.33,16.13,0.14,0.0
54,10/23/2017,50,"[33.8826, -117.00589]",33.882600,-117.005890,10.741935,90.16,5.13,11.67,0.09,0.0
55,10/21/2017,100,"[32.64962, -116.37345]",32.649620,-116.373450,10.677419,66.24,13.45,23.16,0.23,0.0
56,10/20/2017,21,"[35.41112, -120.00353]",35.411120,-120.003530,10.645161,54.88,7.44,14.68,0.78,0.0
57,10/18/2017,13,"[37.89532, -120.84748]",37.895320,-120.847480,10.580645,72.35,3.11,6.32,0.32,0.0
58,10/17/2017,116,"[37.7393, -121.85663]",37.739300,-121.856630,10.548387,71.88,1.53,3.15,0.32,0.0

In [ ]:
x_train = train[!((train['discovery_date'] > '2012-01-01') & (train['discovery_date'] < '2015-08-14'))]
x_test = train[(train['discovery_date'] > '2012-01-01') & (train['discovery_date'] < '2015-08-14')]

In [ ]:
y_train = x_train['fire_size_class']
y_test = x_test['fire_size_class']

In [11]:
#model
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: '[37.7393, -121.85663]'

In [12]:
#predict
predictions = logisticRegr.predict(x_test)

NameError: name 'x_test' is not defined

In [ ]:
# Use score method to get accuracy of model
score = logisticRegr.score(x_test, y_test)
print(score)