In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
viirs = pd.read_csv("fire_nrt_V1_83401.csv")
# modis = pd.read_csv("fire_nrt_M6_83400.csv")

In [3]:
viirs.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [4]:
# modis.head()

In [5]:
# modis = modis.rename(columns = {"bright_t31": "channel_brightness"})
# viirs = viirs.rename(columns = {"bright_ti5": "channel_brightness"})

In [6]:
# viirs = viirs.rename(columns = {"bright_ti4": "brightness"})

In [7]:
# firedata = pd.concat([viirs, modis])

In [8]:
# firedata = firedata.reset_index()

In [9]:
# firedata = firedata.drop(columns = "index")

In [10]:
# type(firedata['acq_date'][1])

In [11]:
viirs['acq_date'] = viirs['acq_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [12]:
viirs.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,33.03452,-83.08730,318.6,0.32,0.55,2019-07-01,636,N,VIIRS,n,1.0NRT,288.2,0.9,N
1,34.63658,-87.09289,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,286.8,1.0,N
2,34.63654,-87.08815,304.2,0.56,0.69,2019-07-01,636,N,VIIRS,n,1.0NRT,287.2,1.9,N
3,34.34694,-82.77595,306.3,0.32,0.54,2019-07-01,636,N,VIIRS,n,1.0NRT,291.0,0.8,N
4,43.24686,-70.96125,301.8,0.39,0.36,2019-07-01,636,N,VIIRS,n,1.0NRT,285.4,0.6,N

In [13]:
# Viirs in North America
viirs_na = viirs[(viirs.latitude <= 50) &
                 (viirs.latitude >= 28) &
                 (viirs.longitude <= -60) &
                 (viirs.longitude >= -130)]
viirs_na.head()
len(viirs_na)

143937

In [14]:
len(viirs)

239299

In [15]:
len(viirs.groupby(['latitude']))

208360

In [16]:
len(viirs.groupby(['longitude']))

217639

In [17]:
# Created smaller sample to test with
viirs_test = viirs[(viirs.latitude <= 50) &
                 (viirs.latitude >= 48) &
                 (viirs.longitude <= -120) &
                 (viirs.longitude >= -121)]
len(viirs_test)

122

In [18]:
viirs_test.head()
viirs_test
viirs_test = viirs_test.reset_index()
viirs_test = viirs_test.drop(columns="index")

In [19]:
viirs_test['acq_date'].value_counts(sort=False)

2019-09-21     1
2019-08-21     5
2019-08-09     7
2019-10-29     1
2019-08-28     4
2019-09-04     2
2019-08-06     6
2019-08-01     4
2019-08-08    22
2019-08-27     3
2019-07-27     6
2019-09-03     3
2019-10-23     1
2019-08-29    14
2019-09-05     1
2019-07-24     1
2019-07-31     7
2019-09-07     3
2019-08-07    20
2019-09-26     3
2019-09-02     3
2019-08-02     5
Name: acq_date, dtype: int64

In [23]:
# Test
# Determine chunks of consecutive days in dataset
dt = viirs_test['acq_date']
day = pd.Timedelta('1d')
# TODO need to check for multiple rows shift
in_block = ((dt - dt.shift(-1)).abs() == day) | (dt.diff() == day)
in_block

filt = viirs_test.loc[in_block]
breaks = filt['acq_date'].diff() != day
groups = breaks.cumsum()
groups

# for _, frame in filt.groupby(groups):
#     print(frame, end='\n\n')
    
viirs_test['groups'] = groups
viirs_test

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,groups
0,48.04707,-120.46503,296.9,0.43,0.62,2019-07-24,1106,N,VIIRS,n,1.0NRT,281.6,1.4,N,NaN
1,48.26446,-120.72204,295.8,0.39,0.36,2019-07-27,1012,N,VIIRS,n,1.0NRT,280.9,1.7,N,NaN
2,48.26529,-120.72690,324.0,0.39,0.36,2019-07-27,1012,N,VIIRS,n,1.0NRT,286.5,1.7,N,NaN
3,48.26204,-120.72818,326.8,0.39,0.36,2019-07-27,1012,N,VIIRS,n,1.0NRT,285.9,1.7,N,NaN
4,48.26120,-120.72330,314.4,0.39,0.36,2019-07-27,1012,N,VIIRS,n,1.0NRT,282.8,1.7,N,NaN
5,48.26409,-120.73034,346.3,0.34,0.56,2019-07-27,2136,N,VIIRS,n,1.0NRT,291.3,3.1,D,NaN
6,48.26329,-120.72844,336.1,0.34,0.56,2019-07-27,2136,N,VIIRS,n,1.0NRT,294.7,6.0,D,NaN
7,48.26039,-120.72485,295.5,0.39,0.44,2019-07-31,1036,N,VIIRS,n,1.0NRT,280.2,0.7,N,NaN
8,48.53847,-120.22054,367.0,0.69,0.74,2019-07-31,2200,N,VIIRS,h,1.0NRT,309.6,53.9,D,NaN
9,48.53862,-120.23101,350.4,0.69,0.74,2019-07-31,2200,N,VIIRS,n,1.0NRT,300.0,53.9,D,NaN
10,48.53596,-120.23206,343.5,0.69,0.74,2019-07-31,2200,N,VIIRS,n,1.0NRT,297.3,18.8,D,NaN
11,48.54295,-120.23227,339.0,0.69,0.74,2019-07-31,2200,N,VIIRS,n,1.0NRT,299.1,30.8,D,NaN
12,48.53574,-120.22076,367.0,0.69,0.74,2019-07-31,2200,N,VIIRS,h,1.0NRT,302.4,36.3,D,NaN
13,48.54277,-120.22243,367.0,0.69,0.74,2019-07-31,2200,N,VIIRS,h,1.0NRT,303.1,81.1,D,1.0
14,48.25742,-120.72633,297.3,0.41,0.37,2019-08-01,1018,N,VIIRS,n,1.0NRT,280.3,0.9,N,1.0
15,48.26073,-120.72491,305.7,0.41,0.37,2019-08-01,1018,N,VIIRS,n,1.0NRT,280.8,0.9,N,NaN
16,48.26174,-120.72616,344.1,0.40,0.60,2019-08-01,2142,N,VIIRS,n,1.0NRT,299.5,9.8,D,NaN
17,48.26184,-120.72263,367.0,0.40,0.60,2019-08-01,2142,N,VIIRS,h,1.0NRT,301.5,11.4,D,2.0
18,48.26644,-120.73222,306.7,0.40,0.37,2019-08-02,954,N,VIIRS,n,1.0NRT,285.4,1.6,N,2.0
19,48.26564,-120.72642,322.3,0.40,0.37,2019-08-02,954,N,VIIRS,n,1.0NRT,282.7,1.6,N,NaN
20,48.26310,-120.73317,311.1,0.40,0.37,2019-08-02,954,N,VIIRS,n,1.0NRT,284.9,1.6,N,NaN
21,48.25897,-120.72832,315.0,0.40,0.37,2019-08-02,954,N,VIIRS,n,1.0NRT,283.8,2.2,N,NaN
22,48.25819,-120.72265,303.5,0.40,0.37,2019-08-02,954,N,VIIRS,n,1.0NRT,282.8,1.0,N,NaN
23,48.26060,-120.72910,296.8,0.45,0.39,2019-08-06,1024,N,VIIRS,n,1.0NRT,285.3,0.7,N,NaN
24,48.26500,-120.73235,305.1,0.45,0.39,2019-08-06,1024,N,VIIRS,n,1.0NRT,288.5,1.4,N,NaN
25,48.26746,-120.72578,300.6,0.45,0.39,2019-08-06,1024,N,VIIRS,n,1.0NRT,286.4,0.9,N,NaN
26,48.26989,-120.72466,341.5,0.47,0.64,2019-08-06,2148,N,VIIRS,n,1.0NRT,296.3,16.6,D,NaN
27,48.26983,-120.72842,356.4,0.47,0.64,2019-08-06,2148,N,VIIRS,n,1.0NRT,302.3,16.6,D,NaN
28,48.26381,-120.73018,345.5,0.47,0.64,2019-08-06,2148,N,VIIRS,n,1.0NRT,299.7,7.0,D,3.0
29,48.27203,-120.72083,323.8,0.38,0.36,2019-08-07,1006,N,VIIRS,n,1.0NRT,287.7,1.3,N,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,48.26063,-120.73402,307.7,0.43,0.38,2019-08-29,948,N,VIIRS,n,1.0NRT,287.7,2.4,N,NaN
93,48.25631,-120.72803,304.8,0.43,0.38,2019-08-29,948,N,VIIRS,n,1.0NRT,283.5,2.4,N,NaN
94,48.25965,-120.72903,297.9,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,284.8,2.4,N,NaN
95,48.26130,-120.73332,302.5,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,286.4,2.4,N,NaN
96,48.25608,-120.73497,321.3,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,287.7,4.6,N,NaN
97,48.25507,-120.73851,303.7,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,286.1,2.4,N,NaN
98,48.25336,-120.73407,329.1,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,286.4,2.4,N,NaN
99,48.25774,-120.73930,296.7,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,285.7,4.6,N,NaN
100,48.25437,-120.73048,315.9,0.73,0.76,2019-08-29,1130,N,VIIRS,n,1.0NRT,285.0,4.4,N,NaN
101,48.25722,-120.73542,351.4,0.41,0.45,2019-08-29,2118,N,VIIRS,n,1.0NRT,282.9,14.2,D,NaN
102,48.25758,-120.73109,328.2,0.41,0.45,2019-08-29,2118,N,VIIRS,n,1.0NRT,281.3,7.6,D,NaN
103,48.25562,-120.73379,356.8,0.41,0.45,2019-08-29,2118,N,VIIRS,n,1.0NRT,287.8,14.9,D,NaN
104,48.26133,-120.73635,313.3,0.41,0.37,2019-09-02,1018,N,VIIRS,n,1.0NRT,282.3,0.9,N,NaN
105,48.26463,-120.73488,297.4,0.41,0.37,2019-09-02,1018,N,VIIRS,n,1.0NRT,281.9,0.9,N,NaN
106,48.26556,-120.73998,300.3,0.41,0.37,2019-09-02,1018,N,VIIRS,n,1.0NRT,280.1,1.3,N,8.0
107,48.26286,-120.73766,325.3,0.40,0.37,2019-09-03,954,N,VIIRS,n,1.0NRT,287.4,2.4,N,8.0
108,48.25616,-120.73952,305.2,0.40,0.37,2019-09-03,954,N,VIIRS,n,1.0NRT,285.3,1.4,N,NaN
109,48.25952,-120.73862,322.6,0.40,0.37,2019-09-03,954,N,VIIRS,n,1.0NRT,286.7,2.4,N,9.0
110,48.25936,-120.74005,295.9,0.55,0.68,2019-09-04,1118,N,VIIRS,n,1.0NRT,281.8,1.6,N,9.0
111,48.26301,-120.73837,296.9,0.55,0.68,2019-09-04,1118,N,VIIRS,n,1.0NRT,281.9,1.5,N,10.0
112,48.26458,-120.73978,302.3,0.35,0.57,2019-09-05,1100,N,VIIRS,n,1.0NRT,284.7,1.1,N,10.0
113,48.26135,-120.73598,297.2,0.45,0.39,2019-09-07,1024,N,VIIRS,n,1.0NRT,284.6,0.9,N,NaN
114,48.26239,-120.74120,295.7,0.45,0.39,2019-09-07,1024,N,VIIRS,n,1.0NRT,283.9,1.5,N,NaN
115,48.25794,-120.73769,310.3,0.45,0.39,2019-09-07,1024,N,VIIRS,n,1.0NRT,284.8,0.9,N,NaN
116,48.41817,-120.13340,331.4,0.39,0.36,2019-09-21,2048,N,VIIRS,n,1.0NRT,297.8,2.7,D,NaN
117,48.65879,-120.43025,330.6,0.40,0.37,2019-09-26,2054,N,VIIRS,n,1.0NRT,286.5,2.7,D,NaN
118,48.66708,-120.47180,328.1,0.40,0.37,2019-09-26,2054,N,VIIRS,n,1.0NRT,287.5,4.2,D,NaN
119,48.65695,-120.49525,329.2,0.40,0.37,2019-09-26,2054,N,VIIRS,n,1.0NRT,290.2,1.8,D,NaN
120,48.54372,-120.14270,331.2,0.39,0.36,2019-10-23,2048,N,VIIRS,n,1.0NRT,288.5,8.0,D,NaN
121,48.54581,-120.14616,325.7,0.40,0.37,2019-10-29,2036,N,VIIRS,n,1.0NRT,283.5,26.0,D,NaN

In [26]:
# This function gets the current and next values for consecutive dates
# Returns a dataframe of Latitude and longitude values for consecutive days
def get_curr_values_and_next_values(df_in):
    result = []

    # Created dataframe within test range
    data_viirs_test = []
    consecutive_days = []
    for i in range(0, len(viirs_test)):
        # start at specific latitude and longitude, for first date
        lat_i = df_in.at[(i, 'latitude')]
        long_i = df_in.at[(i, 'longitude')]
        date_i = df_in.at[(i, 'acq_date')]
#         data_viirs_test.append([lat_i, long_i, date_i])

        if (i != 0): #base case
            if date_i == df_in.at[(i - 1, 'acq_date')]:
                continue;

        # Current day df
        df_curr_day = df[df_in.acq_date == date_i]
        df_curr_day = df_curr_day.reset_index()
        df_curr_day = df_curr_day.drop(columns = "index")

        # Get the next day
        # Work with days only
        next_date = date_i + timedelta(days=1)
        df_next_day = df[df_in.acq_date == next_date]
    #     print(date_i)

        # Reset index
        df_next_day = df_next_day.reset_index()
        df_next_day = df_next_day.drop(columns = "index")

        if (len(df_next_day) == 0):
            # No values for the next day
            # Fire has to last at least a day
            continue;

        else:
            consecutive_days.append([date_i]) # add current date
            consec_days_df = pd.DataFrame(consecutive_days, columns=['date'])
            
            result.append([df_curr_day, date_i])
            result.append([df_next_day, next_date])
        
        result_df = pd.DataFrame(result, columns = ['day_df', 'date'])
        
    return result_df

In [27]:
consec_values = get_curr_values_and_next_values(viirs_test)
consec_values

# Drop duplicate days
consec_day_values = consec_values.drop_duplicates(subset = "date")
# Latitude and longitude values for consecutive days ==> use this to get size
consec_day_values = consec_day_values.reset_index()
consec_day_values = consec_day_values.drop(columns = "index")
consec_day_values

NameError: name 'df' is not defined

In [384]:
consec_day_values.at[(9, "day_df")]

    latitude  longitude       date
0   48.27109 -120.73183 2019-08-29
1   48.25713 -120.73469 2019-08-29
2   48.26063 -120.73402 2019-08-29
3   48.25631 -120.72803 2019-08-29
4   48.25965 -120.72903 2019-08-29
5   48.26130 -120.73332 2019-08-29
6   48.25608 -120.73497 2019-08-29
7   48.25507 -120.73851 2019-08-29
8   48.25336 -120.73407 2019-08-29
9   48.25774 -120.73930 2019-08-29
10  48.25437 -120.73048 2019-08-29
11  48.25722 -120.73542 2019-08-29
12  48.25758 -120.73109 2019-08-29
13  48.25562 -120.73379 2019-08-29

In [472]:
def size_of_fire(df_in, day):
    size_list = [] #general location, date, size
    
    # size of range to check
    lat_long_range = 0.001
    
    day_test = df_in.at[(day, "day_df")]
    date = df_in.at[(day, "date")]
    print(day_test)

    for j in range(0, len(day_test)):
        lat_j = day_test.at[(j, 'latitude')]
        long_j = day_test.at[(j, 'longitude')]
        radius = 1
        fire_locations = []
        for k in range(j + 1, len(day_test)):
            lat_k = day_test.at[(k, 'latitude')]
            long_k = day_test.at[(k, 'longitude')]
            
            if abs(lat_j - lat_k) >= lat_long_range and abs(long_j - long_k) >= lat_long_range: #base case
                # if out of range = different fires; do nothing
                x = 0
            else:
                fire_locations.append([lat_k, long_k]) #which points in fire
                radius += 1
                print(fire_locations)
        fire_locations_df = pd.DataFrame(fire_locations, columns = ['lat', 'long'])
        size_list.append([lat_j, long_j, radius, fire_locations_df, date])
            
    size_df = pd.DataFrame(size_list, columns = ['lat', 'long', 'size', 'fire_locations_df', 'date'])           
    return size_df

size_of_fire(consec_day_values, 1)

   latitude  longitude       date
0  48.25742 -120.72633 2019-08-01
1  48.26073 -120.72491 2019-08-01
2  48.26174 -120.72616 2019-08-01
3  48.26184 -120.72263 2019-08-01
[[48.26174, -120.72616000000001]]
[[48.26184, -120.72263000000001]]

,lat,long,size,fire_locations_df,date
0,48.25742,-120.72633,2,lat long 0 48.26174 -120.72616,2019-08-01
1,48.26073,-120.72491,1,"Empty DataFrame Columns: [lat, long] Index: []",2019-08-01
2,48.26174,-120.72616,2,lat long 0 48.26184 -120.72263,2019-08-01
3,48.26184,-120.72263,1,"Empty DataFrame Columns: [lat, long] Index: []",2019-08-01

In [485]:
def get_size(consec_day_values, day):
    size_of_fire_day = size_of_fire(consec_day_values, day)
    for i in range(0, len(size_of_fire1)):
        lat_i = size_of_fire1.at[(i, 'lat')]
        long_i = size_of_fire1.at[(i, 'long')]
        df_i = size_of_fire1.at[(i, 'fire_locations_df')]
        print(df_i)
        if (df_i.empty == True):
            continue;
        else:
            print("do something to add size") #combine

for i in range(0, len(consec_day_values)):
    get_size(consec_day_values, i)

   latitude  longitude       date
0  48.26039 -120.72485 2019-07-31
1  48.53847 -120.22054 2019-07-31
2  48.53862 -120.23101 2019-07-31
3  48.53596 -120.23206 2019-07-31
4  48.54295 -120.23227 2019-07-31
5  48.53574 -120.22076 2019-07-31
6  48.54277 -120.22243 2019-07-31
[[48.53862, -120.23101000000001]]
[[48.53862, -120.23101000000001], [48.535740000000004, -120.22076000000001]]
[[48.54295, -120.23227]]
[[48.54295, -120.23227], [48.535740000000004, -120.22076000000001]]
[[48.542770000000004, -120.22243]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.25742 -120.72633 2019-08-01
1  48.26073 -120.72491 2019-08-01
2  48.26174 -120.72616 2019-08-01
3  48.26184 -120.72263 2019-08-01
[[48.26174, -120.72616000000001]]
[[48.26184, -120.72263000000001]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.26644 -120.73222 2019-08-02
1  48.26564 -120.72642 2019-08-02
2  48.26310 -120.73317 2019-08-02
3  48.25897 -120.72832 2019-08-02
4  48.25819 -120.72265 2019-08-02
[[48.265640000000005, -120.72641999999999]]
[[48.265640000000005, -120.72641999999999], [48.2631, -120.73317]]
[[48.25819, -120.72265]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.26060 -120.72910 2019-08-06
1  48.26500 -120.73235 2019-08-06
2  48.26746 -120.72578 2019-08-06
3  48.26989 -120.72466 2019-08-06
4  48.26983 -120.72842 2019-08-06
5  48.26381 -120.73018 2019-08-06
[[48.26983, -120.72842]]
[[48.26983, -120.72842]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
    latitude  longitude       date
0   48.27203 -120.72083 2019-08-07
1   48.26957 -120.72713 2019-08-07
2   48.27283 -120.72604 2019-08-07
3   48.26711 -120.73344 2019-08-07
4   48.26632 -120.72825 2019-08-07
5   48.26305 -120.72935 2019-08-07
6   48.27242 -120.71731 2019-08-07
7   48.26657 -120.73492 2019-08-07
8   48.26688 -120.72939 2019-08-07
9   48.25712 -120.73089 2019-08-07
10  48.27144 -120.73428 2019-08-07
11  48.27178 -120.72854 2019-08-07
12  48.27209 -120.72310 2019-08-07
13  48.27740 -120.71518 2019-08-07
14  48.27573 -120.72745 2019-08-07
15  48.27604 -120.72186 2019-08-07
16  48.27637 -120.71567 2019-08-07
17  48.27083 -120.72880 2019-08-07
18  48.27112 -120.72343 2019-08-07
19  48.27703 -120.72145 2019-08-07
[[48.27283, -120.72604]]
[[48.27283, -120.72604], [48.272420000000004, -120.71731000000001]]
[[48.27283, -120.72604], [48.272420000000004, -120.71731000000001], [48.271440000000005, -120.73428]]
[[48.27283, -120.72604], [48.272420000000004, -120.71731000000001], [48.271440000000005, -120.73428], [48.27178, -120.72854]]
[[48.27283, -120.72604], [48.272420000000004, -120.71731000000001], [48.271440000000005, -120.73428], [48.27178, -120.72854], [48.272090000000006, -120.7231]]
[[48.27283, -120.72604], [48.272420000000004, -120.71731000000001], [48.271440000000005, -120.73428], [48.27178, -120.72854], [48.272090000000006, -120.7231], [48.27112, -120.72343000000001]]
[[48.27283, -120.72604], [48.272420000000004, -120.71731000000001], [48.271440000000005, -120.73428], [48.27178, -120.72854], [48.272090000000006, -120.7231], [48.27112, -120.72343000000001], [48.277029999999996, -120.72145]]
[[48.275729999999996, -120.72745]]
[[48.272420000000004, -120.71731000000001]]
[[48.272420000000004, -120.71731000000001], [48.272090000000006, -120.7231]]
[[48.26632, -120.72825]]
[[48.26632, -120.72825], [48.26657, -120.73491999999999]]
[[48.26632, -120.72825], [48.26657, -120.73491999999999], [48.26688, -120.72939]]
[[48.26632, -120.72825], [48.26657, -120.73491999999999], [48.26688, -120.72939], [48.271440000000005, -120.73428]]
[[48.26657, -120.73491999999999]]
[[48.26657, -120.73491999999999], [48.26688, -120.72939]]
[[48.26657, -120.73491999999999], [48.26688, -120.72939], [48.27178, -120.72854]]
[[48.26657, -120.73491999999999], [48.26688, -120.72939], [48.27178, -120.72854], [48.275729999999996, -120.72745]]
[[48.26657, -120.73491999999999], [48.26688, -120.72939], [48.27178, -120.72854], [48.275729999999996, -120.72745], [48.27083, -120.7288]]
[[48.26688, -120.72939]]
[[48.26688, -120.72939], [48.27178, -120.72854]]
[[48.26688, -120.72939], [48.27178, -120.72854], [48.27083, -120.7288]]
[[48.271440000000005, -120.73428]]
[[48.271440000000005, -120.73428], [48.27178, -120.72854]]
[[48.271440000000005, -120.73428], [48.27178, -120.72854], [48.272090000000006, -120.7231]]
[[48.26688, -120.72939]]
[[48.26688, -120.72939], [48.271440000000005, -120.73428]]
[[48.27178, -120.72854]]
[[48.27178, -120.72854], [48.27083, -120.7288]]
[[48.27178, -120.72854]]
[[48.27178, -120.72854], [48.272090000000006, -120.7231]]
[[48.27178, -120.72854], [48.272090000000006, -120.7231], [48.27083, -120.7288]]
[[48.27178, -120.72854], [48.272090000000006, -120.7231], [48.27083, -120.7288], [48.27112, -120.72343000000001]]
[[48.272090000000006, -120.7231]]
[[48.272090000000006, -120.7231], [48.27083, -120.7288]]
[[48.272090000000006, -120.7231], [48.27083, -120.7288], [48.27112, -120.72343000000001]]
[[48.27112, -120.72343000000001]]
[[48.27637, -120.71566999999999]]
[[48.27637, -120.71566999999999], [48.277029999999996, -120.72145]]
[[48.27604, -120.72186]]
[[48.27604, -120.72186], [48.27637, -120.71566999999999]]
[[48.27637, -120.71566999999999]]
[[48.27637, -120.71566999999999], [48.277029999999996, -120.72145]]
[[48.277029999999996, -120.72145]]
[[48.27112, -120.72343000000001]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
    latitude  longitude       date
0   48.27248 -120.72011 2019-08-08
1   48.27337 -120.72828 2019-08-08
2   48.27623 -120.72016 2019-08-08
3   48.27711 -120.72818 2019-08-08
4   48.26965 -120.72851 2019-08-08
5   48.26596 -120.72900 2019-08-08
6   48.25858 -120.72997 2019-08-08
7   48.26227 -120.72947 2019-08-08
8   48.27638 -120.71112 2019-08-08
9   48.27841 -120.72463 2019-08-08
10  48.26545 -120.73135 2019-08-08
11  48.26693 -120.73540 2019-08-08
12  48.27545 -120.71655 2019-08-08
13  48.27696 -120.72067 2019-08-08
14  48.27346 -120.71114 2019-08-08
15  48.27002 -120.72280 2019-08-08
16  48.27143 -120.72662 2019-08-08
17  48.27436 -120.72681 2019-08-08
18  48.26854 -120.73198 2019-08-08
19  48.27299 -120.72306 2019-08-08
20  48.26976 -120.71414 2019-08-08
21  48.27158 -120.71915 2019-08-08
[[48.27337, -120.72828]]
[[48.27337, -120.72828], [48.27623, -120.72016]]
[[48.27337, -120.72828], [48.27623, -120.72016], [48.276959999999995, -120.72067]]
[[48.27337, -120.72828], [48.27623, -120.72016], [48.276959999999995, -120.72067], [48.27346, -120.71113999999999]]
[[48.27337, -120.72828], [48.27623, -120.72016], [48.276959999999995, -120.72067], [48.27346, -120.71113999999999], [48.27299, -120.72306]]
[[48.27337, -120.72828], [48.27623, -120.72016], [48.276959999999995, -120.72067], [48.27346, -120.71113999999999], [48.27299, -120.72306], [48.27158, -120.71915]]
[[48.27711, -120.72818000000001]]
[[48.27711, -120.72818000000001], [48.26965, -120.72851000000001]]
[[48.27711, -120.72818000000001], [48.26965, -120.72851000000001], [48.26596, -120.729]]
[[48.27711, -120.72818000000001], [48.26965, -120.72851000000001], [48.26596, -120.729], [48.27346, -120.71113999999999]]
[[48.27711, -120.72818000000001], [48.26965, -120.72851000000001], [48.26596, -120.729], [48.27346, -120.71113999999999], [48.274359999999994, -120.72681000000001]]
[[48.27711, -120.72818000000001], [48.26965, -120.72851000000001], [48.26596, -120.729], [48.27346, -120.71113999999999], [48.274359999999994, -120.72681000000001], [48.27299, -120.72306]]
[[48.27711, -120.72818000000001]]
[[48.27711, -120.72818000000001], [48.276379999999996, -120.71112]]
[[48.27711, -120.72818000000001], [48.276379999999996, -120.71112], [48.27545, -120.71655]]
[[48.27711, -120.72818000000001], [48.276379999999996, -120.71112], [48.27545, -120.71655], [48.276959999999995, -120.72067]]
[[48.26965, -120.72851000000001]]
[[48.26965, -120.72851000000001], [48.26596, -120.729]]
[[48.26965, -120.72851000000001], [48.26596, -120.729], [48.276379999999996, -120.71112]]
[[48.26965, -120.72851000000001], [48.26596, -120.729], [48.276379999999996, -120.71112], [48.276959999999995, -120.72067]]
[[48.26596, -120.729]]
[[48.26596, -120.729], [48.26227, -120.72946999999999]]
[[48.26596, -120.729], [48.26227, -120.72946999999999], [48.27002, -120.7228]]
[[48.26596, -120.729], [48.26227, -120.72946999999999], [48.27002, -120.7228], [48.26976, -120.71413999999999]]
[[48.25858, -120.72997]]
[[48.25858, -120.72997], [48.26227, -120.72946999999999]]
[[48.25858, -120.72997], [48.26227, -120.72946999999999], [48.26545, -120.73135]]
[[48.25858, -120.72997], [48.26227, -120.72946999999999], [48.26545, -120.73135], [48.26693, -120.7354]]
[[48.26227, -120.72946999999999]]
[[48.27545, -120.71655]]
[[48.27545, -120.71655], [48.276959999999995, -120.72067]]
[[48.27545, -120.71655], [48.276959999999995, -120.72067], [48.27346, -120.71113999999999]]
[[48.26854, -120.73198000000001]]
[[48.274359999999994, -120.72681000000001]]
[[48.274359999999994, -120.72681000000001], [48.27299, -120.72306]]
[[48.27299, -120.72306]]
[[48.27299, -120.72306], [48.26976, -120.71413999999999]]
[[48.274359999999994, -120.72681000000001]]
[[48.274359999999994, -120.72681000000001], [48.27158, -120.71915]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.27215 -120.72403 2019-08-09
1  48.25596 -120.73222 2019-08-09
2  48.26105 -120.72851 2019-08-09
3  48.27125 -120.72118 2019-08-09
4  48.25772 -120.73077 2019-08-09
5  48.27290 -120.71933 2019-08-09
6  48.27382 -120.72231 2019-08-09
[[48.27125, -120.72118]]
[[48.27125, -120.72118], [48.2729, -120.71933]]
[[48.27382, -120.72231000000001]]

        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.25885 -120.73291 2019-08-27
1  48.25939 -120.73291 2019-08-27
2  48.26410 -120.73628 2019-08-27
[[48.25939, -120.73291]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.26533 -120.73811 2019-08-28
1  48.26125 -120.73445 2019-08-28
2  48.25800 -120.73575 2019-08-28
3  48.26137 -120.73659 2019-08-28
[[48.26137, -120.73658999999999]]
[[48.26137, -120.73658999999999]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
    latitude  longitude       date
0   48.27109 -120.73183 2019-08-29
1   48.25713 -120.73469 2019-08-29
2   48.26063 -120.73402 2019-08-29
3   48.25631 -120.72803 2019-08-29
4   48.25965 -120.72903 2019-08-29
5   48.26130 -120.73332 2019-08-29
6   48.25608 -120.73497 2019-08-29
7   48.25507 -120.73851 2019-08-29
8   48.25336 -120.73407 2019-08-29
9   48.25774 -120.73930 2019-08-29
10  48.25437 -120.73048 2019-08-29
11  48.25722 -120.73542 2019-08-29
12  48.25758 -120.73109 2019-08-29
13  48.25562 -120.73379 2019-08-29
[[48.25758, -120.73109]]
[[48.26063, -120.73402]]
[[48.26063, -120.73402], [48.25631, -120.72803]]
[[48.26063, -120.73402], [48.25631, -120.72803], [48.25608, -120.73496999999999]]
[[48.26063, -120.73402], [48.25631, -120.72803], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999]]
[[48.26063, -120.73402], [48.25631, -120.72803], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999], [48.257740000000005, -120.7393]]
[[48.26063, -120.73402], [48.25631, -120.72803], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999], [48.257740000000005, -120.7393], [48.257220000000004, -120.73541999999999]]
[[48.26063, -120.73402], [48.25631, -120.72803], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999], [48.257740000000005, -120.7393], [48.257220000000004, -120.73541999999999], [48.25758, -120.73109]]
[[48.26063, -120.73402], [48.25631, -120.72803], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999], [48.257740000000005, -120.7393], [48.257220000000004, -120.73541999999999], [48.25758, -120.73109], [48.25562, -120.73378999999998]]
[[48.25965, -120.72903000000001]]
[[48.25965, -120.72903000000001], [48.2613, -120.73331999999999]]
[[48.25965, -120.72903000000001], [48.2613, -120.73331999999999], [48.25608, -120.73496999999999]]
[[48.25965, -120.72903000000001], [48.2613, -120.73331999999999], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999]]
[[48.25965, -120.72903000000001], [48.2613, -120.73331999999999], [48.25608, -120.73496999999999], [48.25336, -120.73406999999999], [48.25562, -120.73378999999998]]
[[48.25608, -120.73496999999999]]
[[48.25608, -120.73496999999999], [48.257220000000004, -120.73541999999999]]
[[48.25608, -120.73496999999999], [48.257220000000004, -120.73541999999999], [48.25562, -120.73378999999998]]
[[48.25336, -120.73406999999999]]
[[48.25336, -120.73406999999999], [48.25562, -120.73378999999998]]
[[48.25336, -120.73406999999999]]
[[48.25336, -120.73406999999999], [48.257220000000004, -120.73541999999999]]
[[48.25336, -120.73406999999999], [48.257220000000004, -120.73541999999999], [48.25562, -120.73378999999998]]
[[48.257740000000005, -120.7393]]
[[48.257740000000005, -120.7393], [48.25437, -120.73048]]
[[48.257740000000005, -120.7393], [48.25437, -120.73048], [48.25562, -120.73378999999998]]
[[48.25562, -120.73378999999998]]
[[48.257220000000004, -120.73541999999999]]
[[48.257220000000004, -120.73541999999999], [48.25758, -120.73109]]
[[48.25758, -120.73109]]
[[48.25758, -120.73109]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.26133 -120.73635 2019-09-02
1  48.26463 -120.73488 2019-09-02
2  48.26556 -120.73998 2019-09-02
[[48.26556, -120.73998]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.26286 -120.73766 2019-09-03
1  48.25616 -120.73952 2019-09-03
2  48.25952 -120.73862 2019-09-03
[[48.25952, -120.73862]]
[[48.25952, -120.73862]]
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.25936 -120.74005 2019-09-04
1  48.26301 -120.73837 2019-09-04
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
   latitude  longitude       date
0  48.26458 -120.73978 2019-09-05
        lat       long
0  48.26174 -120.72616
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []
        lat       long
0  48.26184 -120.72263
do something to add size
Empty DataFrame
Columns: [lat, long]
Index: []