In [201]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm
from datetime import datetime as dt
from datetime import timedelta
from darksky import forecast
key = "e202a3b89ed3182ce3d86552661df096" #darksky key
from sklearn.linear_model import LogisticRegression

In [138]:
# US fires data - has the cause of fire
# https://www.fs.usda.gov/rds/archive/catalog/RDS-2013-0009.4
# Metadata - https://www.fs.usda.gov/rds/archive/products/RDS-2013-0009.4/_metadata_RDS-2013-0009.4.html
us_fires1 = pd.read_csv("us_fires_1.csv")
us_fires2 = pd.read_csv("us_fires_2.csv")
us_fires3 = pd.read_csv("us_fires_3.csv")
us_fires4 = pd.read_csv("us_fires_4.csv")
us_fires5 = pd.read_csv("us_fires_5.csv")
us_fires6 = pd.read_csv("us_fires_6.csv")
us_fires7 = pd.read_csv("us_fires_7.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,11,12,14,15,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11,12,16,17,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10,11,12,13,14,15,18,25,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11,12,14,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [139]:
# Concatenate all us_fires data
pd.set_option('display.max_columns', None)
us_fires_all = pd.concat([us_fires1, us_fires2], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires3], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires4], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires5], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires6], ignore_index=True)
us_fires_all = pd.concat([us_fires_all, us_fires7], ignore_index=True)

In [140]:
us_fires_all.head()
us_fires_all.tail()

,objectid,fod_id,fpa_id,source_system_type,source_system,nwcg_reporting_agency,nwcg_reporting_unit_id,nwcg_reporting_unit_name,source_reporting_unit,source_reporting_unit_name,local_fire_report_id,local_incident_id,fire_code,fire_name,ics_209_incident_number,ics_209_name,mtbs_id,mtbs_fire_name,complex_name,fire_year,discovery_date,discovery_doy,discovery_time,stat_cause_code,stat_cause_descr,cont_date,cont_doy,cont_time,fire_size,fire_size_class,latitude,longitude,owner_code,owner_descr,state,county,fips_code,fips_name
1880460,1880461,300348000.0,2015CAIRS29019636,NONFED,ST-CACDF,ST/C&L,USCASHU,Shasta-Trinity Unit,CASHU,Shasta-Trinity Unit,591814,009371,NaN,ODESSA 2,NaN,NaN,NaN,NaN,NaN,2015,2015-09-26T00:00:00,269,1726.0,13,Missing/Undefined,2015-09-26T00:00:00,269.0,1843.0,0.01,A,40.481637,-122.389375,13,STATE OR PRIVATE,CA,NaN,NaN,NaN
1880461,1880462,300348000.0,2015CAIRS29217935,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,569419,000366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-10-05T00:00:00,278,126.0,9,Miscellaneous,NaN,NaN,NaN,0.20,A,37.617619,-120.938570,12,MUNICIPAL/LOCAL,CA,NaN,NaN,NaN
1880462,1880463,300348000.0,2015CAIRS28364460,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,574245,000158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-05-02T00:00:00,122,2052.0,13,Missing/Undefined,NaN,NaN,NaN,0.10,A,37.617619,-120.938570,12,MUNICIPAL/LOCAL,CA,NaN,NaN,NaN
1880463,1880464,300348000.0,2015CAIRS29218079,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,570462,000380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-10-14T00:00:00,287,2309.0,13,Missing/Undefined,NaN,NaN,NaN,2.00,B,37.672235,-120.898356,12,MUNICIPAL/LOCAL,CA,NaN,NaN,NaN
1880464,1880465,300348000.0,2015CAIRS26733926,NONFED,ST-CACDF,ST/C&L,USCABDU,San Bernardino Unit,CABDU,CDF - San Bernardino Unit,535436,003225,NaN,BARKER BL BIG_BEAR_LAKE_,NaN,NaN,NaN,NaN,NaN,2015,2015-03-14T00:00:00,73,2128.0,9,Miscellaneous,NaN,NaN,NaN,0.10,A,34.263217,-116.830950,13,STATE OR PRIVATE,CA,NaN,NaN,NaN

In [141]:
len(us_fires_all)

1880465

In [142]:
train = us_fires_all[['objectid',
                      'fod_id',
                      'fpa_id',
                      'fire_year',
                      'discovery_date',
                      'discovery_doy',
                      'stat_cause_code',
                      'stat_cause_descr',
                      'fire_size',
                      'fire_size_class',
                      'latitude',
                      'longitude',
                      'state']]
train.head()

,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state
0,1,1.0,FS-1418826,2005,2005-02-02T00:00:00,33,9,Miscellaneous,0.10,A,40.036944,-121.005833,CA
1,2,2.0,FS-1418827,2004,2004-05-12T00:00:00,133,1,Lightning,0.25,A,38.933056,-120.404444,CA
2,3,3.0,FS-1418835,2004,2004-05-31T00:00:00,152,5,Debris Burning,0.10,A,38.984167,-120.735556,CA
3,4,4.0,FS-1418845,2004,2004-06-28T00:00:00,180,1,Lightning,0.10,A,38.559167,-119.913333,CA
4,5,5.0,FS-1418847,2004,2004-06-28T00:00:00,180,1,Lightning,0.10,A,38.559167,-119.933056,CA

In [143]:
train.isnull().sum()

objectid            0
fod_id              0
fpa_id              0
fire_year           0
discovery_date      0
discovery_doy       0
stat_cause_code     0
stat_cause_descr    0
fire_size           0
fire_size_class     0
latitude            0
longitude           0
state               0
dtype: int64

In [144]:
# Regex extract date
train['discovery_date'] = train['discovery_date'].str.extract(r'(\d{4}-\d{2}-\d{2})')
train.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state
0,1,1.0,FS-1418826,2005,2005-02-02,33,9,Miscellaneous,0.10,A,40.036944,-121.005833,CA
1,2,2.0,FS-1418827,2004,2004-05-12,133,1,Lightning,0.25,A,38.933056,-120.404444,CA
2,3,3.0,FS-1418835,2004,2004-05-31,152,5,Debris Burning,0.10,A,38.984167,-120.735556,CA
3,4,4.0,FS-1418845,2004,2004-06-28,180,1,Lightning,0.10,A,38.559167,-119.913333,CA
4,5,5.0,FS-1418847,2004,2004-06-28,180,1,Lightning,0.10,A,38.559167,-119.933056,CA

In [145]:
# Convert to timestamp
train['discovery_date'] = train['discovery_date'].apply(lambda x: dt.strptime(x, '%Y-%m-%d'))
type(train['discovery_date'][1])
# Convert back to string
# train['discovery_date'] = train['discovery_date'].astype(str)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

pandas._libs.tslibs.timestamps.Timestamp

In [146]:
# Consolidate years - overall dataset is 1992 - 2015
len(train)
train.loc[train['fire_year'].idxmax()]

objectid                        1789012
fod_id                        3.002e+08
fpa_id                       FS-6341424
fire_year                          2015
discovery_date      2015-08-14 00:00:00
discovery_doy                       226
stat_cause_code                       1
stat_cause_descr              Lightning
fire_size                           0.1
fire_size_class                       A
latitude                        45.9342
longitude                      -113.021
state                                MT
Name: 1789011, dtype: object

In [147]:
test_recent = train[(train['discovery_date'] > '2015-01-01') & (train['discovery_date'] < '2015-08-14')]
test = test_recent.sample(5000)

train_recent = train[(train['discovery_date'] > '2014-01-01') & (train['discovery_date'] < '2014-12-31')]
train = train_recent.sample(10000)

# Populating with Dark Sky API 
# train['Lat'] = np.zeros(len(train))
# train['Long'] = np.zeros(len(train))
train['Month'] = np.zeros(len(train))
train['Temp'] = np.zeros(len(train))
train['WindSpd'] = np.zeros(len(train))
train['WindGust'] = np.zeros(len(train))
train['Humidity'] = np.zeros(len(train))
train['Precipitation'] = np.zeros(len(train))
for i in np.arange(0,len(train)):
#     #Convert Lat/Long to 2 separate variables
#     latlong = (((train['Lat/Long'].iloc[i]).strip()).strip('][')).split(",")
#     train['Lat'].iloc[i] = float(latlong[0])
#     train['Long'].iloc[i] = float(latlong[1])
    #Add "Month" variable
#     timestamp = train['discovery_date'].iloc[i].split("/")
#     train['Month'].iloc[i] = float(timestamp[0])+(int(timestamp[1])/31)
    #Add weather variables
#     t = dt(int(timestamp[2]),int(timestamp[0]),int(timestamp[1]),12).isoformat()
    try:
        weather = forecast(key,train['latitude'].iloc[i],train['longitude'].iloc[i],time=t)
        train['Temp'].iloc[i] = weather.temperature
        train['WindSpd'].iloc[i] = weather.windSpeed
        train['WindGust'].iloc[i] = weather.windGust
        train['Humidity'].iloc[i] = weather.humidity
        train['Precipitation'].iloc[i] = weather.precipIntensity
    except:
        #weather = forecast(key,round(train['Lat'].iloc[i])+1,round(train['Long'].iloc[i])+1,time=t)
        train['Temp'].iloc[i] = "BAD RESPONSE"
        
train.to_csv('training_data.csv')

test.head()

# Populating with Dark Sky API 
# train['Lat'] = np.zeros(len(train))
# train['Long'] = np.zeros(len(train))
test['Month'] = np.zeros(len(test))
test['Temp'] = np.zeros(len(test))
test['WindSpd'] = np.zeros(len(test))
test['WindGust'] = np.zeros(len(test))
test['Humidity'] = np.zeros(len(test))
test['Precipitation'] = np.zeros(len(test))
for i in np.arange(0,len(test)):
#     #Convert Lat/Long to 2 separate variables
#     latlong = (((train['Lat/Long'].iloc[i]).strip()).strip('][')).split(",")
#     train['Lat'].iloc[i] = float(latlong[0])
#     train['Long'].iloc[i] = float(latlong[1])
    #Add "Month" variable
#     timestamp = train['discovery_date'].iloc[i].split("/")
#     train['Month'].iloc[i] = float(timestamp[0])+(int(timestamp[1])/31)
    #Add weather variables
#     t = dt(int(timestamp[2]),int(timestamp[0]),int(timestamp[1]),12).isoformat()
    try:
        weather = forecast(key,test['latitude'].iloc[i],test['longitude'].iloc[i],time=t)
        test['Temp'].iloc[i] = weather.temperature
        test['WindSpd'].iloc[i] = weather.windSpeed
        test['WindGust'].iloc[i] = weather.windGust
        test['Humidity'].iloc[i] = weather.humidity
        test['Precipitation'].iloc[i] = weather.precipIntensity
    except:
        #weather = forecast(key,round(train['Lat'].iloc[i])+1,round(train['Long'].iloc[i])+1,time=t)
        test['Temp'].iloc[i] = "BAD RESPONSE"
        
test.to_csv('testing_data.csv')

# Read in training and testing
#training_data = pd.read_csv("training_data.csv")
testing_data = pd.read_csv("testing_data.csv")

In [148]:
train = train.drop(columns = ['stat_cause_descr','fpa_id'])
test = test.drop(columns = ['stat_cause_descr', 'fpa_id'])

In [149]:
states = pd.get_dummies(train['state'])
states['fod_id'] = train['fod_id']

In [150]:
train = pd.merge(train, states, how = 'outer', on = 'fod_id')
train = train.drop(columns = ['state'])

In [102]:
test.head()

,objectid,fod_id,fire_year,discovery_date,discovery_doy,stat_cause_code,fire_size,fire_size_class,latitude,longitude,state
1798262,1798263,300211000.0,2015,2015-06-16,167,13,10.00,C,25.915300,-80.886700,FL
1821520,1821521,300240000.0,2015,2015-03-16,75,5,1.00,B,31.203436,-83.723808,GA
1808648,1808649,300224000.0,2015,2015-04-12,102,11,0.01,A,37.560000,-97.240000,KS
1843489,1843490,300268000.0,2015,2015-05-12,132,9,0.01,A,37.370000,-96.200000,KS
1791352,1791353,300203000.0,2015,2015-07-13,194,1,0.20,A,42.985556,-121.941111,OR

In [151]:
states = pd.get_dummies(test['state'])
states['fod_id'] = test['fod_id']

In [152]:
test = pd.merge(test, states, how = 'outer', on = 'fod_id')
test = test.drop(columns = ['state'])

In [153]:
train = train.drop(columns = ['discovery_date'])
test = test.drop(columns = ['discovery_date'])

In [154]:
train.head()

,objectid,fod_id,fire_year,discovery_doy,stat_cause_code,fire_size,fire_size_class,latitude,longitude,AK,AL,AR,AZ,CA,CO,FL,GA,HI,IA,ID,IL,IN,KS,KY,LA,MA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,PR,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1740854,300079000.0,2014,276,11,1.0,B,33.354156,-95.069997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,1740854,300079000.0,2014,276,11,1.0,B,33.354156,-95.069997,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1740854,300079000.0,2014,276,11,1.0,B,33.354156,-95.069997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1740854,300079000.0,2014,276,11,1.0,B,33.354156,-95.069997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1740854,300079000.0,2014,276,11,1.0,B,33.354156,-95.069997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [163]:
train.columns

Index(['objectid', 'fod_id', 'fire_year', 'discovery_doy', 'stat_cause_code',
       'fire_size', 'fire_size_class', 'latitude', 'longitude', 'AK', 'AL',
       'AR', 'AZ', 'CA', 'CO', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS',
       'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND',
       'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype='object')

In [162]:
test.columns

Index(['objectid', 'fod_id', 'fire_year', 'discovery_doy', 'stat_cause_code',
       'fire_size', 'fire_size_class', 'latitude', 'longitude', 'AK', 'AL',
       'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'IA', 'ID', 'IL',
       'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT',
       'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA',
       'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV',
       'WY'],
      dtype='object')

In [164]:
train['CT'] = np.zeros(len(train))
train['DE'] = np.zeros(len(train))

In [167]:
test['HI'] = np.zeros(len(test))
train['DC'] = np.zeros(len(train))

In [170]:
test.shape

(317444, 61)

def datetime_to_float(d):
    return d.timestamp()

for i in range(len(train)):
    train['discovery_date'][i] = datetime_to_float(train['discovery_date'][i])

In [171]:
x_train = train.drop(columns = ['fire_size_class', 'fire_size'])
y_train = train[['fire_size_class']]

In [172]:
x_test.head()

,objectid,fod_id,fire_year,discovery_doy,stat_cause_code,latitude,longitude,AK,AL,AR,AZ,CA,CO,CT,DE,FL,GA,IA,ID,IL,IN,KS,KY,LA,MA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1798263,300211000.0,2015,167,13,25.9153,-80.8867,0,0,0,0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1798263,300211000.0,2015,167,13,25.9153,-80.8867,0,0,0,0,0,0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1798263,300211000.0,2015,167,13,25.9153,-80.8867,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1798263,300211000.0,2015,167,13,25.9153,-80.8867,0,0,0,0,0,0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1798263,300211000.0,2015,167,13,25.9153,-80.8867,0,0,0,0,0,0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [175]:
x_test = test.drop(columns = ['fire_size_class', 'fire_size'])
y_test = test[['fire_size_class']]

In [245]:
from sklearn import linear_model

In [177]:
#train logistic regression model
lr = linear_model.LogisticRegression()
lr.fit(x_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [178]:
# Train multinomial logistic regression model
mul_lr = linear_model.LogisticRegression(multi_class='multinomial', solver='newton-cg').fit(x_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/anaconda3/lib/python3.6/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/optimize.py:203: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)

In [246]:
from sklearn import metrics

In [180]:
print ("Logistic regression Train Accuracy :: ", metrics.accuracy_score(y_train, lr.predict(x_train)))
print ("Logistic regression Test Accuracy :: ", metrics.accuracy_score(y_test, lr.predict(x_test)))

print ("Multinomial Logistic regression Train Accuracy :: ", metrics.accuracy_score(y_train, mul_lr.predict(x_train)))
print ("Multinomial Logistic regression Test Accuracy :: ", metrics.accuracy_score(y_test, mul_lr.predict(x_test)))

Logistic regression Train Accuracy ::  0.4835332312848565
Logistic regression Test Accuracy ::  0.42867718400725796
Multinomial Logistic regression Train Accuracy ::  0.5260061381777094
Multinomial Logistic regression Test Accuracy ::  0.42867718400725796

In [276]:
from sklearn.ensemble import RandomForestClassifier

In [183]:
#RF
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [184]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.49994959740930683

In [179]:
from sklearn import preprocessing

In [178]:
# Read in data with weather API calls
data_darksky = pd.read_csv("training_data_darkskyAPI.csv")
data_darksky_cleaned = data_darksky.drop(columns = ['Month'])

,Unnamed: 0,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state,Temp,WindSpd,WindGust,Humidity,Precipitation
0,1763044,1763045,300106000,SFO-2014TXLFDX538725,2014,7/2/14,183,5,Debris Burning,1.0,B,29.482184,-95.288704,TX,69.48,3.80,7.01,0.49,0.0
1,1756167,1756168,300098000,SFO-2014NYNYSNYS-2014-0040,2014,4/18/14,108,5,Debris Burning,1.5,B,42.261600,-77.963800,NY,52.48,9.43,13.53,0.51,0.0
2,1780419,1780420,300135000,SFO-2014MSMFC35055,2014,8/26/14,238,9,Miscellaneous,7.0,B,30.732630,-88.545920,MS,70.96,4.01,6.78,0.60,0.0
3,1744172,1744173,300084000,SFO-2014TXLFDX531058,2014,6/20/14,171,2,Equipment Use,20.0,C,28.335813,-98.022079,TX,72.31,7.53,10.15,0.36,0.0
4,1754149,1754150,300096000,SFO-2014NCNCSNCST-034-20140043,2014,3/27/14,86,5,Debris Burning,2.0,B,36.201915,-80.194809,NC,58.1,4.29,6.57,0.55,0.0

In [183]:
# Normalize discovery DOY
x = data_darksky_cleaned[['discovery_doy']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data_darksky_cleaned['discovery_doy'] = x_scaled

In [252]:
# remove Bad response
data_darksky_cleaned = data_darksky_cleaned[data_darksky_cleaned.Temp != "BAD RESPONSE"]
data_darksky_cleaned

,Unnamed: 0,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state,Temp,WindSpd,WindGust,Humidity,Precipitation
0,1763044,1763045,300106000,SFO-2014TXLFDX538725,2014,7/2/14,0.500000,5,Debris Burning,1.00,B,29.482184,-95.288704,TX,69.48,3.80,7.01,0.49,0.0
1,1756167,1756168,300098000,SFO-2014NYNYSNYS-2014-0040,2014,4/18/14,0.292818,5,Debris Burning,1.50,B,42.261600,-77.963800,NY,52.48,9.43,13.53,0.51,0.0
2,1780419,1780420,300135000,SFO-2014MSMFC35055,2014,8/26/14,0.651934,9,Miscellaneous,7.00,B,30.732630,-88.545920,MS,70.96,4.01,6.78,0.60,0.0
3,1744172,1744173,300084000,SFO-2014TXLFDX531058,2014,6/20/14,0.466851,2,Equipment Use,20.00,C,28.335813,-98.022079,TX,72.31,7.53,10.15,0.36,0.0
4,1754149,1754150,300096000,SFO-2014NCNCSNCST-034-20140043,2014,3/27/14,0.232044,5,Debris Burning,2.00,B,36.201915,-80.194809,NC,58.1,4.29,6.57,0.55,0.0
5,1739188,1739189,300077000,SFO-2014NY4040NY4040-2014-36,2014,5/12/14,0.359116,1,Lightning,0.10,A,42.040200,-75.515800,NY,46.87,0.28,4.01,0.65,0.0
6,1759011,1759012,300102000,SFO-2014SCSCS15FF0084,2014,8/27/14,0.654696,5,Debris Burning,5.50,B,34.033886,-80.220520,SC,62.88,11.54,17.93,0.42,0.0
7,1746858,1746859,300087000,SFO-2014MSMFC34672,2014,5/6/14,0.342541,4,Campfire,5.00,B,31.098751,-88.536911,MS,71.79,0.54,5.42,0.63,0.0
8,1754304,1754305,300096000,SFO-2014MSMFC10581,2014,3/31/14,0.243094,5,Debris Burning,1.00,B,32.779379,-88.571980,MS,66.92,6.00,11.52,0.52,0.0
9,1735462,1735463,300026000,W-670215,2014,7/25/14,0.563536,9,Miscellaneous,0.10,A,43.292800,-100.613300,SD,73.42,12.01,12.01,0.24,0.0
10,1772179,1772180,300118000,SFO-2014VAVAS BUH14025,2014,4/24/14,0.309392,7,Arson,579.00,E,37.322842,-81.977747,VA,53.25,0.00,0.00,0.63,0.0
11,1769294,1769295,300114000,SFO-2014PAPAS11(14)1-032,2014,4/12/14,0.276243,7,Arson,2.00,B,41.507500,-75.871110,PA,49.49,1.86,5.21,0.61,0.0
12,1738097,1738098,300075000,SFO-2014FLFLS2014180200,2014,7/20/14,0.549724,1,Lightning,160.00,D,26.160200,-80.461500,FL,85.19,3.04,7.59,0.68,0.0
13,1761777,1761778,300105000,SFO-2014LADAF 97606,2014,10/19/14,0.801105,5,Debris Burning,0.25,A,30.544000,-93.246000,LA,68.28,3.96,4.03,0.46,0.0
14,1781004,1781005,300136000,SFO-2014NY3605NY3605-2014-357,2014,9/12/14,0.698895,9,Miscellaneous,0.10,A,41.488400,-74.412000,NY,49.87,1.11,3.87,0.54,0.0
15,1878879,1878880,300340000,2014CAIRS24418814,2014,3/7/14,0.176796,11,Powerline,0.30,B,34.566666,-118.883333,CA,83.27,3.21,7.78,0.13,0.0
16,1756778,1756779,300099000,SFO-2014NCNCSNCST-020-20140042,2014,4/26/14,0.314917,5,Debris Burning,0.50,B,34.994400,-84.063833,NC,56.76,2.36,4.42,0.60,0.0
17,1753633,1753634,300095000,SFO-2014PAPAS18(14)1-011,2014,3/23/14,0.220994,5,Debris Burning,1.50,B,40.887500,-76.435000,PA,51.29,0.61,6.58,0.57,0.0
18,1754269,1754270,300096000,SFO-2014AR-ARSIZA21621325,2014,3/30/14,0.240331,5,Debris Burning,12.00,C,36.170910,-91.922640,AR,62.41,3.00,9.06,0.49,0.0
19,1782686,1782687,300139000,SFO-2014ALAFC53338,2014,12/15/14,0.958564,9,Miscellaneous,2.00,B,31.145473,-85.544499,AL,70.45,8.86,8.86,0.47,0.0
20,1749076,1749077,300090000,SFO-2014TNTNS14-W0007,2014,1/22/14,0.055249,5,Debris Burning,1.00,B,36.318333,-88.751933,TN,64.15,2.64,6.82,0.47,0.0
21,1754818,1754819,300097000,SFO-2014NMNMSF14-20190311X,2014,3/28/14,0.234807,5,Debris Burning,207.00,D,34.537300,-106.779600,NM,66.65,1.42,5.67,0.33,0.0
22,1771776,1771777,300117000,SFO-2014ALAFC53177,2014,12/3/14,0.925414,7,Arson,3.00,B,30.801010,-88.413723,AL,71.35,2.40,4.83,0.61,0.0
23,1774214,1774215,300121000,SFO-2014ALAFC50274,2014,1/27/14,0.069061,9,Miscellaneous,13.00,C,33.912663,-87.120769,AL,64.59,4.40,6.54,0.50,0.0
24,1770488,1770489,300116000,SFO-2014CACDFCZU003641,2014,6/11/14,0.441989,7,Arson,1.00,B,36.895500,-121.798833,CA,76.37,2.58,3.30,0.26,0.0
25,1740790,1740791,300079000,SFO-2014TXLFDX538070,2014,9/1/14,0.668508,11,Powerline,0.25,A,32.239175,-95.196840,TX,65.99,3.98,3.98,0.45,0.0
26,1786147,1786148,300145000,SFO-2014TXLFDX524231,2014,8/24/14,0.646409,9,Miscellaneous,1.00,B,32.651595,-94.917018,TX,64.88,5.50,5.50,0.45,0.0
27,1763635,1763636,300107000,SFO-2014TXLFDX546227,2014,8/11/14,0.610497,5,Debris Burning,1.00,B,33.523293,-97.259860,TX,66.85,7.43,11.91,0.44,0.0
28,1781574,1781575,300137000,SFO-2014NJDEPA102801,2014,10/28/14,0.825967,9,Miscellaneous,0.25,A,41.088900,-74.608900,NJ,49.91,0.38,2.67,0.57,0.0
29,1755458,1755459,300098000,SFO-2014GAGAS-FY2014-Fannin-043,2014,4/10/14,0.270718,5,Debris Burning,4.48,B,34.890250,-84.305667,GA,56.44,2.40,6.96,0.59,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9969,1782752,1782753,300139000,SFO-2014NY4012NY4012-2014-289,2014,10/27/14,0.823204,9,Miscellaneous,0.10,A,41.333600,-73.873200,NY,51.44,1.86,3.91,0.51,0.0
9970,1770888,1770889,300116000,SFO-2014MTNWS000417,2014,8/6/14,0.596685,7,Arson,0.50,B,47.518700,-115.022000,MT,52.95,2.03,7.68,0.50,0.0
9971,1768788,1768789,300114000,SFO-2014WVDOF2014-34163,2014,3/24/14,0.223757,7,Arson,1.00,B,37.964541,-81.719603,WV,56.14,2.90,5.04,0.58,0.0
9972,1778541,1778542,300132000,SFO-2014CACDFBTU007702,2014,6/2/14,0.417127,9,Miscellaneous,0.10,A,39.385217,-121.539767,CA,74.92,3.44,3.50,0.24,0.0
9973,1788107,1788108,300148000,SFO-2014CACDFBTU011549,2014,8/14/14,0.618785,13,Missing/Undefined,0.10,A,39.415006,-121.680344,CA,72.07,3.88,3.88,0.28,0.0
9974,1743550,1743551,300083000,SFO-2014VTFPR201451,2014,7/21/14,0.552486,2,Equipment Use,0.50,B,44.091681,-73.006589,VT,44.87,4.57,7.69,0.58,0.0
9975,1784753,1784754,300143000,SFO-2014SDSDS12766,2014,7/21/14,0.552486,9,Miscellaneous,5.00,B,43.257956,-96.826200,SD,65.9,0.00,2.58,0.53,0.0
9976,1767695,1767696,300112000,SFO-2014NCNCSNCST-081-20140019,2014,1/25/14,0.063536,7,Arson,1.50,B,35.345083,-81.995167,NC,58.9,2.92,8.88,0.50,0.0
9977,1728225,1728226,300006000,FS-1521146,2014,1/12/14,0.027624,11,Powerline,2.00,B,31.933333,-92.800000,LA,68.1,3.97,4.99,0.47,0.0
9978,1761784,1761785,300105000,SFO-2014LADAF 97263,2014,3/12/14,0.190608,5,Debris Burning,3.70,B,32.644630,-93.682950,LA,66.74,2.94,3.62,0.46,0.0
9979,1739861,1739862,300078000,SFO-2014WVDOF2014-34423,2014,3/30/14,0.240331,11,Powerline,0.50,B,39.832132,-80.590457,WV,55.68,2.34,4.49,0.63,0.0
9980,1777700,1777701,300131000,SFO-2014NY2110NY2110-2014-201419,2014,11/20/14,0.889503,9,Miscellaneous,0.10,A,43.559100,-74.356600,NY,44.5,2.01,7.01,0.56,0.0
9981,1751641,1751642,300093000,SFO-2014NCNCSNCST-011-20140024,2014,3/8/14,0.179558,5,Debris Burning,2.00,B,35.787367,-82.534667,NC,54.21,1.59,4.88,0.58,0.0
9982,1732356,1732357,300018000,W-671545,2014,8/17/14,0.627072,7,Arson,3.00,B,47.964700,-102.730600,ND,64.44,17.93,26.40,0.27,0.0
9983,1731578,1731579,300015000,W-673761,2014,5/17/14,0.372928,7,Arson,0.30,B,48.022500,-94.922500,MN,63.77,6.17,14.99,0.40,0.0
9984,1784951,1784952,300143000,SFO-2014IAIAS14388,2014,4/12/14,0.276243,9,Miscellaneous,15.00,C,41.030560,-95.745650,IA,63.35,4.47,8.11,0.52,0.0
9985,1774249,1774250,300121000,SFO-2014NENFS19593,2014,1/29/14,0.074586,9,Miscellaneous,0.01,A,40.987870,-96.757320,NE,63.79,2.07,5.44,0.50,0.0
9986,1748442,1748443,300089000,SFO-2014TXTXS1918,2014,1/16/14,0.038674,5,Debris Burning,2.00,B,31.428100,-94.084517,TX,66.63,1.58,6.40,0.53,0.0
9987,1738235,1738236,300076000,SFO-2014WADNR376,2014,7/23/14,0.558011,1,Lightning,0.01,A,48.749200,-118.620500,WA,56.03,7.32,19.91,0.41,0.0
9988,1774009,1774010,300121000,SFO-2014NCNCSNCST-049-20140028,2014,1/25/14,0.063536,9,Miscellaneous,0.10,A,35.781193,-80.936807,NC,57.66,6.45,8.05,0.54,0.0
9989,1756730,1756731,300099000,SFO-2014UTFFSL68607-2014,2014,4/25/14,0.312155,5,Debris Burning,0.10,A,40.330746,-109.936045,UT,54.3,3.99,7.61,0.22,0.0
9990,1773180,1773181,300119000,SFO-2014GAGAS-FY2015-Paulding-001,2014,8/29/14,0.660221,8,Children,0.75,B,33.865203,-84.834697,GA,60.31,5.94,7.56,0.52,0.0
9991,1742737,1742738,300082000,SFO-2014ORODF20147720182015,2014,7/20/14,0.549724,2,Equipment Use,0.10,A,44.453890,-122.807220,OR,57.7,2.55,7.65,0.71,0.0
9992,1727487,1727488,300006000,FS-1525433,2014,7/31/14,0.580110,1,Lightning,0.10,A,43.200278,-122.533056,OR,60.51,4.80,7.50,0.48,0.0
9993,1747425,1747426,300088000,SFO-2014MSMFC11060,2014,10/17/14,0.795580,4,Campfire,1.00,B,33.976340,-88.630604,MS,66.08,2.35,6.98,0.54,0.0
9995,1786468,1786469,300146000,SFO-2014AZAZS-AZ-140969,2014,1/11/14,0.024862,13,Missing/Undefined,2.00,B,34.393000,-110.548000,AZ,73.22,4.14,10.30,0.23,0.0
9996,1742821,1742822,300082000,SFO-2014WYWYS14280,2014,8/2/14,0.585635,2,Equipment Use,1.00,B,41.168500,-104.760500,WY,66.86,16.40,26.84,0.10,0.0
9997,1729336,1729337,300009000,W-671491,2014,6/16/14,0.455801,7,Arson,1843.00,F,34.062200,-110.359200,AZ,75.22,4.01,14.75,0.22,0.0
9998,1768822,1768823,300114000,SFO-2014ALAFC50870,2014,3/25/14,0.226519,7,Arson,0.25,A,31.052097,-87.867998,AL,70.16,5.08,10.91,0.61,0.0
9999,1775824,1775825,300126000,SFO-2014NY4523NY4523-2014-278,2014,11/16/14,0.878453,9,Miscellaneous,0.10,A,44.915700,-74.898100,NY,53.17,3.43,13.32,0.60,0.0

In [253]:
# Divide into test and train
random.seed(12)
mask = np.random.rand(len(data_darksky_cleaned)) < 0.8
train_darksky = data_darksky_cleaned[mask]
test_darksky = data_darksky_cleaned[~mask]

In [254]:
len(train_darksky)
train_darksky.head()

,Unnamed: 0,objectid,fod_id,fpa_id,fire_year,discovery_date,discovery_doy,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state,Temp,WindSpd,WindGust,Humidity,Precipitation
0,1763044,1763045,300106000,SFO-2014TXLFDX538725,2014,7/2/14,0.500000,5,Debris Burning,1.0,B,29.482184,-95.288704,TX,69.48,3.80,7.01,0.49,0.0
1,1756167,1756168,300098000,SFO-2014NYNYSNYS-2014-0040,2014,4/18/14,0.292818,5,Debris Burning,1.5,B,42.261600,-77.963800,NY,52.48,9.43,13.53,0.51,0.0
2,1780419,1780420,300135000,SFO-2014MSMFC35055,2014,8/26/14,0.651934,9,Miscellaneous,7.0,B,30.732630,-88.545920,MS,70.96,4.01,6.78,0.60,0.0
3,1744172,1744173,300084000,SFO-2014TXLFDX531058,2014,6/20/14,0.466851,2,Equipment Use,20.0,C,28.335813,-98.022079,TX,72.31,7.53,10.15,0.36,0.0
5,1739188,1739189,300077000,SFO-2014NY4040NY4040-2014-36,2014,5/12/14,0.359116,1,Lightning,0.1,A,42.040200,-75.515800,NY,46.87,0.28,4.01,0.65,0.0

In [255]:
len(test_darksky)

1967

In [256]:
train_darksky = train_darksky.drop(columns = ['stat_cause_descr', 'fpa_id'])
test_darksky = test_darksky.drop(columns = ['stat_cause_descr', 'fpa_id'])

In [257]:
states_darksky = pd.get_dummies(train_darksky['state'])
states_darksky['fod_id'] = train_darksky['fod_id']
states_darksky.head()

,AK,AL,AR,AZ,CA,CO,FL,GA,IA,ID,IL,IN,KS,KY,LA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,PR,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY,fod_id
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,300106000
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300098000
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300135000
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,300084000
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300077000

In [258]:
train_darksky = pd.merge(train_darksky, states_darksky, how = 'outer', on = 'fod_id')
train_darksky = train_darksky.drop(columns = ['state'])

In [259]:
train_darksky.head()

,Unnamed: 0,objectid,fod_id,fire_year,discovery_date,discovery_doy,stat_cause_code,fire_size,fire_size_class,latitude,longitude,Temp,WindSpd,WindGust,Humidity,Precipitation,AK,AL,AR,AZ,CA,CO,FL,GA,IA,ID,IL,IN,KS,KY,LA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,PR,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1763044,1763045,300106000,2014,7/2/14,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,1763044,1763045,300106000,2014,7/2/14,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1763044,1763045,300106000,2014,7/2/14,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,1763044,1763045,300106000,2014,7/2/14,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1763044,1763045,300106000,2014,7/2/14,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [260]:
test_darksky.head()

,Unnamed: 0,objectid,fod_id,fire_year,discovery_date,discovery_doy,stat_cause_code,fire_size,fire_size_class,latitude,longitude,state,Temp,WindSpd,WindGust,Humidity,Precipitation
4,1754149,1754150,300096000,2014,3/27/14,0.232044,5,2.0,B,36.201915,-80.194809,NC,58.1,4.29,6.57,0.55,0.0
6,1759011,1759012,300102000,2014,8/27/14,0.654696,5,5.5,B,34.033886,-80.220520,SC,62.88,11.54,17.93,0.42,0.0
9,1735462,1735463,300026000,2014,7/25/14,0.563536,9,0.1,A,43.292800,-100.613300,SD,73.42,12.01,12.01,0.24,0.0
12,1738097,1738098,300075000,2014,7/20/14,0.549724,1,160.0,D,26.160200,-80.461500,FL,85.19,3.04,7.59,0.68,0.0
14,1781004,1781005,300136000,2014,9/12/14,0.698895,9,0.1,A,41.488400,-74.412000,NY,49.87,1.11,3.87,0.54,0.0

In [261]:
states_darksky = pd.get_dummies(test_darksky['state'])
states_darksky['fod_id'] = test_darksky['fod_id']
test_darksky = pd.merge(test_darksky, states_darksky, how = 'outer', on = 'fod_id')
test_darksky = test_darksky.drop(columns = ['state'])

In [262]:
train_darksky = train_darksky.drop(columns = ['discovery_date'])
test_darksky = test_darksky.drop(columns = ['discovery_date'])

In [263]:
train_darksky.head()

,Unnamed: 0,objectid,fod_id,fire_year,discovery_doy,stat_cause_code,fire_size,fire_size_class,latitude,longitude,Temp,WindSpd,WindGust,Humidity,Precipitation,AK,AL,AR,AZ,CA,CO,FL,GA,IA,ID,IL,IN,KS,KY,LA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,PR,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1763044,1763045,300106000,2014,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,1763044,1763045,300106000,2014,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1763044,1763045,300106000,2014,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,1763044,1763045,300106000,2014,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1763044,1763045,300106000,2014,0.5,5,1.0,B,29.482184,-95.288704,69.48,3.8,7.01,0.49,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [264]:
train_darksky.columns

Index(['Unnamed: 0', 'objectid', 'fod_id', 'fire_year', 'discovery_doy',
       'stat_cause_code', 'fire_size', 'fire_size_class', 'latitude',
       'longitude', 'Temp', 'WindSpd', 'WindGust', 'Humidity', 'Precipitation',
       'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'FL', 'GA', 'IA', 'ID', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND',
       'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype='object')

In [265]:
test_darksky.columns

Index(['Unnamed: 0', 'objectid', 'fod_id', 'fire_year', 'discovery_doy',
       'stat_cause_code', 'fire_size', 'fire_size_class', 'latitude',
       'longitude', 'Temp', 'WindSpd', 'WindGust', 'Humidity', 'Precipitation',
       'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'FL', 'GA', 'IA', 'ID', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND',
       'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
       'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype='object')

In [266]:
train_darksky.shape

(668062, 62)

In [267]:
test_darksky.shape

(41843, 61)

In [268]:
test_darksky['PR'] = np.zeros(len(test_darksky))
test_darksky['RI'] = np.zeros(len(test_darksky))

In [269]:
test_darksky.shape

(41843, 62)

In [270]:
train_darksky.shape

(668062, 62)

In [271]:
x_train_darksky = train_darksky.drop(columns = ['fire_size_class', 'fire_size'])
y_train_darksky = train_darksky[['fire_size_class']]

In [272]:
x_test_darksky = test_darksky.drop(columns = ['fire_size_class', 'fire_size'])
y_test_darksky = test_darksky[['fire_size_class']]

In [273]:
x_test_darksky.head()

,Unnamed: 0,objectid,fod_id,fire_year,discovery_doy,stat_cause_code,latitude,longitude,Temp,WindSpd,WindGust,Humidity,Precipitation,AK,AL,AR,AZ,CA,CO,FL,GA,IA,ID,IL,IN,KS,KY,LA,MD,ME,MI,MN,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,NY,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY,PR
0,1754149,1754150,300096000,2014,0.232044,5,36.201915,-80.194809,58.1,4.29,6.57,0.55,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0.0
1,1754149,1754150,300096000,2014,0.232044,5,36.201915,-80.194809,58.1,4.29,6.57,0.55,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0.0
2,1754149,1754150,300096000,2014,0.232044,5,36.201915,-80.194809,58.1,4.29,6.57,0.55,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0.0
3,1754149,1754150,300096000,2014,0.232044,5,36.201915,-80.194809,58.1,4.29,6.57,0.55,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0.0
4,1754149,1754150,300096000,2014,0.232044,5,36.201915,-80.194809,58.1,4.29,6.57,0.55,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0.0

In [274]:
lr2 = linear_model.LogisticRegression()
lr2.fit(x_train_darksky, y_train_darksky)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [275]:
# Train multinomial logistic regression model
mul_lr2 = linear_model.LogisticRegression(multi_class='multinomial', solver='newton-cg').fit(x_train_darksky, y_train_darksky)

//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/scipy/optimize/linesearch.py:466: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
//anaconda3/lib/python3.7/site-packages/scipy/optimize/linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/optimize.py:203: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)

In [277]:
print ("Logistic regression Train Accuracy :: ", metrics.accuracy_score(y_train_darksky, lr2.predict(x_train_darksky)))
print ("Logistic regression Test Accuracy :: ", metrics.accuracy_score(y_test_darksky, lr2.predict(x_test_darksky)))

print ("Multinomial Logistic regression Train Accuracy :: ", metrics.accuracy_score(y_train_darksky, mul_lr2.predict(x_train_darksky)))
print ("Multinomial Logistic regression Test Accuracy :: ", metrics.accuracy_score(y_test_darksky, mul_lr2.predict(x_test_darksky)))

Logistic regression Train Accuracy ::  0.488195706386533
Logistic regression Test Accuracy ::  0.47692565064646414
Multinomial Logistic regression Train Accuracy ::  0.5758297882531861
Multinomial Logistic regression Test Accuracy ::  0.5749826733264823

In [279]:
# RF
clf2 = RandomForestClassifier(n_estimators = 100)

# Train model
clf2.fit(x_train_darksky, y_train_darksky)
y_pred2 = clf2.predict(x_test_darksky)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [280]:
print("Accuracy: ", metrics.accuracy_score(y_test_darksky, y_pred2))

Accuracy:  0.6089668522811462